/* CSS styles for the Netflix-like Trailer Showcase */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

#trailer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 0;
  padding-bottom: calc(56.25% + 20px);
  max-width: 100%;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  header,
  nav {
    padding: 10px;
  }
  
  #trailer-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  iframe {
    max-width: 100%;
    padding-bottom: calc(56.25% + 10px);
  }
  
  /* Adjust iframe aspect ratio for different screen orientations */
  @media screen and (orientation: portrait) {
    iframe {
      padding-bottom: calc(100% + 10px); /* Adjust the aspect ratio for vertical screens */
    }
  }
  
  @media screen and (orientation: landscape) {
    iframe {
      padding-bottom: calc(56.25% + 10px); /* Adjust the aspect ratio for horizontal screens */
    }
  }
}
